entry {
	background-color: #4C566A;
	font: 18px "Inter Nerd Font Propo";
}

list {
	margin-top: 15px;
	background-color: #2E3440;
	border-radius: 6px;
}

#match:selected {
	background-color: #81A1C1;
	border-radius: 6px;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

