window {
        background-color: rgba (0, 0, 0, 0)
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
    background-color: #1a1b26;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #737aa2;
	padding: 5px;
	margin: 5px;
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;
	color: white;
}

button:hover {
	background-color: rgba (255, 255, 255, 0.1)
}
